<!DOCTYPE html>
<html>
<head>
	<title>[[TITLE]]</title>
	<link rel="stylesheet" href="[[LOCATION]]/css/style.css" />
	<script src="[[LOCATION]]/javascript/jquery.min.js"></script>
	<script src="[[LOCATION]]/javascript/essentials.js" ></script>
</head>
<body>
	<div class="header">
		<table class="heading" >
			<tr>
				<td class="header_logo" >
					<a href="[[LOCATION]]/index.php" >[[HEAD]]</a>
				</td>
				<td class="menu" >
					[[MENU]]
				</td>
			</tr>
		</table>
	</div>
	<div class="column">
		<div class="main">
			[[BODY]]
		</div>
	</div>
	<div class="footer">
		[[FOOT]]
	</div>
	<div id="overlay" >
		<div id="overlay_contents" ></div>
	</div>
</body>

</html>